{% extends 'base.html' %}

{% block content %}
{% if current_user.email.__contains__('@edu') %}
<section class="mt-5">
    <div class="d-flex flex-column align-items-center">
        <h1>This is {{ classroom.name }}</h1>
        <p class="text-secondary">What's good? New activity?</p>
    </div>
    <div class="d-flex justify-content-end">
        <a href="{{ url_for('signActivity', id=classroom.id) }}" class="btn btn-primary px-5 py-3 mx-5 mt-5">New Activity</a>
    </div>
    <div class="px-5 py-3">
        <p class="fw-bold">Activities</p>
        <table class="table">
            <thead>
                <th class="fw-bold">Number</th>
                <th class="fw-bold">Title</th>
                <th class="fw-bold">Description</th>
            </thead>
            <tbody>
                {% for i in activities['data'] %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% else %}
<section class="mt-5">
    <div class="d-flex flex-column align-items-center">
        <h1>This is {{ classroom.name }}</h1>
        <p class="text-secondary">Ready to rock on your activities?</p>
    </div>
    <div class="mt-5 d-flex justify-content-center fw-bold">
        <p class="bg-dark text-light p-2 border rounded">Your teacher is {{ teacher }}!</p>
    </div>
    <div class="px-5 py-3">
        <p class="fw-bold">Activities</p>
        <table class="table">
            <thead>
                <th class="fw-bold">Number</th>
                <th class="fw-bold">Title</th>
                <th class="fw-bold">Description</th>
            </thead>
            <tbody>
                {% for i in activities['data'] %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endif %}
{% endblock %}